<div id="meme">
<img src="cat.jpg">
<h2 style="
    color: deeppink;
    font-size: 40;
    font-family: initial;
    text-shadow: 4px 0 blue, 0 1px black, 2px 0 black, 0 -1px black;
    position: absolute;
    top: 9;
    left: 100;
"><%= top %></h2>
<h2 style="
    color: deeppink;
    font-size: 75;
    font-family: fantasy;
    font-weight: bolder;
    position: absolute;
    bottom: 300;
    left: 36;
"><%= bottom %></h2>
</div>
<form action="/" method="get">
	<input type="text" name="top" placeholder="TOP TEXT" />
	<input type="text" name="bottom" placeholder="BOTTOM TEXT" />
	<input type="submit"></input>
</form>
<button id="create-button">Get your code on</button>
<img id="image" src="">
<script type="text/javascript" src="html2canvas.js"></script>
<script type="text/javascript" src="meme.js"></script>